<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CatchException Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Nouveaux", "Index", "CatchMe")</li>
                    <li>@Html.ActionLink("Traitées", "Archive", "CatchMe")</li>
                    <li>@Html.ActionLink("Error File", "ErrorFile", "CatchMe")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>

            @*<ul class="nav navbar-nav navbar-right">
                <li> <strong class="">@User.Identity.Name</strong></li>
            </ul>*@

        </div>
    </div>
    <div class="container body-content">

        @if (ViewBag.ErrorMessage != null)
            {
            <div class="alert alert-danger">
                @Html.Raw(ViewBag.ErrorMessage)
            </div>
        }
        @if (ViewBag.SuccessMessage != null)
            {
            <div class="alert alert-success">
                @Html.Raw(ViewBag.SuccessMessage)
            </div>
        }


        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Arnaud Colin</p> <p style="color:white" >@(WebCatchException.MvcApplication.buildDateTime.HasValue ? "Version Du "+ WebCatchException.MvcApplication.buildDateTime.Value.ToString() : null)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
